<div class="compose_not_subscribed">
    <p>
        {{#tr this}}
        You can't send message to not subscribed stream.
        {{/tr}}
    </p>
    <div>
        {{#if should_display_sub_button}}
        <button id="error-message-sub-button" class="btn btn-warning subscribe-button sub_unsub_button">{{t "Subscribe" }}</button><button type="button" id="compose_not_subscribed_close" class="close">&times;</button>
        {{/if}}
    </div>
</div>
